{%  liquid 
    assign layout_max_width = section.settings.layout_max_width
    assign padding_top = section.settings.padding_top
    assign padding_bottom = section.settings.padding_bottom

%} 

<div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <div>Lorem ipsum dolor sit.</div>
    </div>
</div>