.advisor-section section {
    padding:var(--padding_top) 0px var(--padding_bottom);
    @media screen and (max-width:767px) {
      padding:var(--padding_top_phone) 0 var(--padding_bottom_phone);
    }

    .flex {
        @media screen and (max-width:767px) {
        flex-direction: var(--flex_direction);
    }
    }
}
