.block-advisor {

    flex-basis:var(--block_width);
    max-width:var(--block_width);

}

.block-advisor  .advisor_style {
    position: relative;
    overflow: hidden;
   
    
}
.block-advisor img.media_style {
    border-bottom-right-radius: 200px;
}
.block-advisor .advisor_bg_style {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    display: block;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: var(--border_radius);
    background: var(--bg_color);

}
.block-advisor .advisor_style > *:not(.advisor_bg_style) {
    position: relative;
    z-index: 1;
}
.block-advisor .advisor_content_style {
padding:var(--block_padding_vertical) var(--block_padding_horizontal);
position: relative;
 z-index: 2;
}

.block-advisor .content {
   max-width: var(--content_max_width); 
}