.block-advisor {

    flex-basis:var(--block_width);
    max-width:var(--block_width);

}

.block-advisor  .advisor_style {
    position: relative;
    
}

.block-advisor .advisor_block_style {
    position: absolute;
    left: 0;
    bottom: 0;;
    height: calc(100% -50%);
    width: 100%;
    display: block;
    z-index: 0;
    border-radius: var( --border_radius);
    background: var(--bg_color);

}
.block-advisor .advisor_content_style {
padding:var(--block_padding_vertical) var(--block_padding_horizontal);
}

.block-advisor .content {
   max-width: var(--content_max_width); 
}