.hero_banner {
position: relative;
}
.hero_banner::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
height: 120px;
width: 100%;
background:var(--appointment_bg);
}
.herosliderLayout {
    max-width: var(--slider-width);
    position: relative;
}
.herosliderLayout::before {
  box-shadow: var(--box-shadow);
  content: "";
   position: absolute;
   left: 0;
   top: 0;
    height: 100%;
    width: 100%;
    max-width: var(--slider-width);
    z-index: 1;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}


.herosliderLayout::after {
    content: "";
    background: linear-gradient(133.41deg,#000000 -67.71%,rgba(0,0,0,0)61%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    z-index: 1;
}


.slide {

}

.slide .slide_image {
    width: 100%;
    border-top-right-radius: var(--slider-radius);
    border-bottom-right-radius: var(--slider-radius);
    aspect-ratio: 1/var( --slider-ratio);
    display: block;
    object-fit: cover;
    height: 100%;
}

.hero-banner-content {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-banner-content  .hero_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:100px;
    padding-bottom:100px;
}

.hero-banner-content  .hero_content .hero_title {
max-width: var(--header_max_width);
}

.hero-banner-content  .hero_content .hero_search {

}
.hero-banner-content  .hero_content .hero_search ul {
margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
     gap: 10px;margin-bottom: 16px;
}

.hero-banner-content  .hero_content .hero_search ul li {

}
.hero-banner-content  .hero_content .hero_search ul li div {
    background: rgba(var(--color-button), var(--alpha-button-background));
    display: flex;
    align-items: center;
    gap:8px;
    padding: 13px 22px;
    border-radius: 100px;

   

}
.hero-banner-content  .hero_content .hero_search ul li img {
     width: 18px;
    height: auto;

}

.hero-banner-content  .hero_content .hero_search ul li span {
    font-weight: 500;
    font-size: 17px;
    line-height: 90%;
    letter-spacing: 0%;

}

/* here Search option */
.hero-banner-search {}
.hero-banner-search form {
background: #fff;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1246px;
height: 100px;
border-radius: 100px;
padding: 25px 35px;
}
.hero-banner-search form .search-icon {
width: 50px;
height: auto;
}

.hero-banner-search form input {
font-weight: 600;
font-size: 25px;
line-height: 90%;
letter-spacing: 0%;
color: rgb(var(--color-background));
width: 100%;
border:0;

}
.hero-banner-search form input::placeholder {
  color: rgb(var(--color-background));
  border:0;
}
.hero-banner-search form button {
    background: rgb(var(--color-background));
    background: var(--gradient-background);
    color: rgb(var(--color-foreground));
    font-size: 20px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 10%;
    padding: 17px 35px;
    border-radius: 100px;
    flex-shrink: 0;
    border: 0;
}

.appoinment {
display: flex;
justify-content: flex-end;
padding-right: 60px;
padding-bottom: 10px;
z-index: 1;
position: relative;
}

.appontment_btn   {
    background:rgb(var(--color-foreground));
    display: inline-flex;
    align-items: center;
    gap:8px;
    padding: 13px 22px;
    border-radius: 10px;
    color:rgb(var(--color-background));
    text-decoration: none;

   

}
.appontment_btn   svg {
     width: 18px;
    height: auto;

}

.appontment_btn   span {
    font-weight: 500;
    font-size: 17px;
    line-height: 90%;
    letter-spacing: 0%;

}

@media(max-width:767px){
    .herosliderLayout {
    width: calc( 100% - 15px );
}
    .hero_content {
        padding:25px;

    }
    .hero-banner-search form {
    flex-direction: column;
      height: auto;
      padding: 30px;
      border-radius: 25px;
      gap:25px;
    
}
    .hero-banner-search {
    position: relative;
    z-index: 1;
}
.hero-banner-search form .search-icon {
    display: none;
}
.hero-banner-search form input {
     font-size: 20px;
    text-align: center;
 }
.hero-banner-search form button {
    background: rgb(var(--color-button));
    color: rgb(var(--color-foreground));
    font-size: 20px;
    text-align: center;
    
}
.hero-banner-search form input::placeholder {
  text-align: center;
}
.hero_banner::after {
height: 45%;;
}

.appoinment {
padding-right: 15px;
padding-bottom:0px;
transform: translateY(-70px);
}
}