 /**********
 Slider Style
 **********/
 .swiper-default{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:20px; 
    align-items: center;
 }
.swiper-top-right,
.swiper-top-center,
.swiper-top-left,
.swiper-bottom-right,
.swiper-bottom-center, 
.swiper-bottom-left{
    
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:20px;

    align-items: center;


    .swiper-pagination{
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev{
        position: static;
        margin-top: 0;

    }
    .swiper-button-next{}
    .swiper-button-prev{}

}
.swiper-top-right,
.swiper-bottom-right{ 
    justify-content: flex-end; 
}
.swiper-top-center,
.swiper-bottom-center{ 
    justify-content: center; 
   
}
.swiper-top-left,
.swiper-bottom-left{ 
    justify-content: flex-start; 
   
}


/******* =====================
bicyle
===================== ****/
.bicyle{
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
    img, > svg{
        aspect-ratio: var(--aspect_ratio);
        object-fit: cover;
        width: 100%; 
        height: 100%;
        display: block; 
        transition: all 0.3s ease;
    }
    &:hover img{
          transform: scale(1.05);
     }
    h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        color: rgb(var(--color-foreground));
        width: 100%;
        padding: 35px 40px;
        text-decoration: none;
        z-index: 1;

        box-sizing: border-box;

        a{
            color: rgb(var(--color-foreground));
            border-radius: 0;
            padding: 0;
            svg path{ 
                fill:rgb(var(--color-button-text)) ;
            }
        }
        
    }
    &::after{
        content: var(--content);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
        z-index: 0;
    }
}

/******* =====================
bicyle
===================== ****/



/******* =====================
review
===================== ****/
.review {
    border-radius: 15px;
    padding: 25px 35px;

    .reviewer{
        border-bottom:2px solid rgb(var(--color-button));
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{  
            font-weight: 600; 
            font-size: 22px; 
            line-height: 120%;
            letter-spacing: 0%;

        }
         .reviews{
            color:#EDD500;
            svg{
                width: 20px;
                height:20px;
            }
        }
    
        p{ 
            font-weight: 400; 
            font-size: 17px; 
            line-height: 150%;
            letter-spacing: 0%;


            strong{

            }
        }

    }
}


/******* =====================
Best Seller
===================== ****/

.best_seller{

    display: flex;
    justify-content: center;

     
}

 


/*
best_bicycle_content_slider
*/
.best_bicycle_content_slider{
        transform: translateY(-80px);
    position: relative;
    z-index: 0;
    .best_bicycle_content{
            width: 100%; 
        display: flex;
        flex-direction: column;
        gap: 12px;
    background: rgb(var(--color-background));
        h2{ 
            font-weight: 900; 
            font-size:  clamp(30px, 7vw, 140px); 
            line-height: 90%;
            letter-spacing: 0%;
            text-align: center;

        }
        .best_bicycle_info{

            display: grid;
            /* Automatically creates columns that are at least 200px wide, maxing out at 4 columns */
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px; /* Adds space between grid items */
            align-items: center;
            max-width: 1080px;
            width: 100%;
            margin: 0px auto;
            .info{ 
                display: flex;
                flex-direction: column;
                gap: 5px;

                align-items: flex-start;
                strong{ 
                    font-weight: 600; 
                    font-size: 25px; 
                    line-height: 90%;
                    letter-spacing: 0%;
                    color:#06123D;

                }
                 > span{ 
                    font-weight: 400; 
                    font-size: 20px; 
                    line-height: 90%;
                    letter-spacing: 0%;
                    color:#06123D;
                    opacity:.5;


                }
            }

        }
    }
}