:root {
    --Nohemi: "Nohemi";
}

* {
    font-family: var(--Nohemi);
}
*:focus-visible {
    outline:none;
    outline-offset:none;
    box-shadow:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 100%;
    margin:0;
    letter-spacing: 0%;
}
strong {
    color: rgba(var(--color-button), var(--alpha-button-background));
    font-weight: 600;
}
p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 5%;
}
.title_small {
font-size:24px;
}

.title_medium {
font-size:32px;
}

.title_large {
font-size:44px;
}

.title_extraextralarge {
font-size:65px;
}

.title_extraextralarge {
font-size:85px;
}
@media(min-width:768px) {
.only-phone {
  display: none;
} 
}
.btn {
    color: rgb(var(--color-foreground));
    font-size: 20px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 10%;
    padding: 17px 35px;
    border-radius: 100px;
    flex-shrink: 0;
    border: 0;
    text-decoration: none;
    overflow: hidden;
}
.btn {
position: relative;
background-color: transparent;

}
.btn svg {
opacity: 0;
margin-left: -20px;
transition-duration: .4s;
}
.btn:hover svg {
opacity: 1;
margin-left: 0px;
}
.btn > * {
    position: relative;
    z-index: 1;
}
.btn::before {
content: " ";
position: absolute;
width: 100%;
height: 100%;
left: 0;
top:0;
z-index:0;
border-radius: 100px;
background: rgb(var(--color-background));
background: var(--gradient-background);
transition-duration: .4s;
}

.btn::after {
content: " ";
position: absolute;
width:0;
height: 100%;
left: 0;
top:0;
border-radius: 100px;
background: rgba(var(--color-button), var(--alpha-button-background));
transition-duration: .4s;
}

.btn:hover::after {
width: 100%;
}
@media(max-width:767px) {
.only-phone {
  display: block;
} 
.only-desktop {
display: none;
}

.title_extraextralarge {
font-size:55px;
}

}

