.block-title {

    flex-basis:var(--block_width);
    max-width:var(--block_width);
    @media screen and (max-width:767px) {
       flex-basis:var(--block_width_phone);
      max-width:var(--block_width_phone); 
    }

}

.block-title  .title_style {
    padding:var(--block_padding_vertical) var(--block_padding_horizontal);
}
.block-title h5 {
    color:rgb(var(--color-link));
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;

}
.block-title h2 {
    max-width: var(--title_max_width);
    margin-bottom: var(--title_margin_bottom);
    
}

.block-title .content {
   max-width: var(--content_max_width); 
}